# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build/

# Ignore logs output directory
logs/

# Ignore temp output directory
temp/

# java build artifacts class files
*.class

# eclipse project files
.classpath
.project

# android built artifacts
*.apk
*.ap_
*.dex

# android Studio
*.iml
.idea

# OSX files
.DS_Store
